<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Kevin + Melissa's Wedding</title>
    <link rel="stylesheet" type="text/css" href="style.css?t=<%= htmlWebpackPlugin.options.cachebuster %>" />
</head>
<body>
    <div class="nav">
        <div class="nav--left">
            <a href="#ceremony">Ceremony</a>
            <a href="#reception">Reception</a>
            <a href="#accommodations">Accommodations</a>
            <a href="#story">Story</a>
        </div>
        <p>Kevin + Melissa</p>
        <div class="nav--right">
            <a href="#party">Party</a>
            <a href="#things-to-do">Things To Do</a>
            <a href="#registry">Registry</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
    <div class="section section--hero">
        <div class="section__slide section__slide--00 is-showing"></div>
        <div class="section__slide section__slide--01"></div>
        <div class="section__slide section__slide--02"></div>
        <div class="section__slide section__slide--03"></div>
        <div class="section__content">
            <h1>We're getting married!</h1>
            <p>Saying "I Do" on <time>September 10, 2021</time></p>
        </div>
        <div class="section__controls">
            <div class="section__control is-selected"></div>
            <div class="section__control"></div>
            <div class="section__control"></div>
            <div class="section__control"></div>
        </div>
    </div>
    <div class="section section--ceremony" id="ceremony">
        <div class="section__img">
            <img src="img/ceremony.jpg" />
        </div>
        <div class="section__content">
            <h2>The Ceremony</h2>
            <p>
                <strong>4:30 PM</strong>
            </p>
            <p>Spruce Mountain Ranch</p>
            <p>14771 Spruce Mountain Road</p>
            <p>Larkspur, CO 80118</p>
            <p>
                <a href="https://goo.gl/maps/Em3osGzdGS9Df8qEA" target="_blank">View map</a>
            </p>
        </div>
    </div>
    <div class="section section--covid" id="covid">
        <div class="section__content">
            <h2>COVID-19 Update</h2>
            <p>The safety of our guests and the incredible vendors we’re working with is of the utmost importance. As of now, we are moving ahead with our wedding as scheduled. We’re keeping very close watch on Colorado guidelines and our venue’s guidelines to ensure it is safe for everyone to gather.</p>
            <br />
            <p>Our venue has made improvements to their site to help ensure safety for all, including social distancing markers at high-traffic areas, increased hand sanitizer and hand washing stations, and new ventilation systems. We’re lucky to be on a large area of open land in beautiful Colorado so there will be plenty of outdoor options to gather and doors will be kept open (weather permitting) to ensure natural ventilation as well.</p>
            <br />
            <p><b>We <u>highly</u> encourage everyone to get vaccinated before attending our wedding.</b> If you do not or can not receive the vaccine, we highly recommend getting tested either directly before travelling or upon your arrival to Colorado. We will have people travelling from all over the country and the more people vaccinated, the safer we all will be. Masks and hand sanitizer will be made available, and we ask that people please be sure to wash and sanitize hands often. If you are not feeling well, please consider staying home.</p>
            <br />
            <p>If there are any major changes that have to be made due to capacity restrictions or updated guidelines, we will reach out to people individually. <em>If you do not feel comfortable travelling or being around a large number of people, please do not feel pressured to attend our wedding.</em> We want you to feel safe in any circumstance. Depending on conditions in September, we may be offering a livestream of the ceremony for those who are unable to attend or feel more comfortable attending virtually.</p>
        </div>
    </div>
    <div class="section section--reception" id="reception">
        <div class="section__img">
            <img src="img/reception.jpg" />
        </div>
        <div class="section__content">
            <h2>The Reception</h2>
            <h3>Cocktail Hour</h3>
            <p>
                <strong>5:00 PM - 6:30 PM</strong>
            </p>
            <h3>Dinner + Dancing</h3>
            <p>
                <strong>6:30 PM - 11:00 PM</strong>
            </p>
        </div>
    </div>
    <div class="section section--accommodations" id="accommodations">
        <div class="section__content">
            <h2>The Accommodations</h2>
            <p class="center">For the Best Deal: <b><a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/castle-rock/denme/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-US-_-DENME" target="_blank">Holiday Inn, Castle Rock</a></b></p>
            <p>Distance to venue: 30 minutes</p>
            <p>Book a room by <b>August 11th, 2021</b>. Call the hotel direct 303-688-0888, press 0, and ask for the "Muscato - Selwyn Wedding Rate". Full details <a href="/img/muscato-selwyn-wedding-rate.pdf" target="_blank">here</a>.</p>
            <p>About: This hotel in the heart of Castle Rock is snuggled between the vibrant cities of Colorado Springs and Denver. A great spot if you plan on staying longer to explore the treasures of Colorado!</p>
            <p><strong>A complimentary shuttle will be offered between the hotel and venue.</strong></p>
            <hr />
            <p class="center">For the Adventurous: <b><a href="https://www.sunrvresorts.com/resorts/west/colorado/jellystone-park-at-larkspur/" target="_blank">Jellystone Park</a></b></p>
            <p>Distance to venue: 15 minutes</p>
            <p>About: RV, camping, and cottage accommodations, this newly renovated campsite has bowling, a waterpark, movie theatre, and other activities, all nestled in the beautiful foothills of Colorado.</p>
            <hr />
            <p class="center">For the Vacationers: <b><a href="https://www.airbnb.com/a/stays/Colorado--United-States?af=43720035&c=.pi0.pk59239870274_276589749589_c_401750934937&sem_position=&sem_target=kwd-401750934937&location_of_interest=&location_physical=9004335&localized_ghost=true&query=&gclid=Cj0KCQjwit_8BRCoARIsAIx3Rj49GcH0GYU8iq6vgpYaHd8hNx-g1tYA9_2r_INRoMZ7L92roLfPrUEaAui6EALw_wcB" target="_blank">Airbnb</a></b></p>
            <p>Distance to venue: varies by location</p>
            <p>With plenty of locations all around Colorado, Airbnbs are a great option if you plan to spend more time in Colorado and want to have a home base!</p>
        </div>
    </div>
    <div class="section section--faq" id="faq">
        <div class="section__content">
            <h2>FAQ</h2>
            <p>Q: <strong>Are Uber/Lyfts available?</strong></p>
            <p>A: Uber and Lyft have limited service in our venue's area. To ensure reliable transportation, we suggest pre-booking your rides prior to attending the event.</p>
            <br />
            <p>Q: <strong>What is the dress code?</strong></p>
            <p>A: Cocktail attire.</p>
            <br />
            <p>Q: <strong>What is the weather like in Colorado in September?</strong></p>
            <p>A: Great question. No one really knows! Colorado has very unpredictable weather, but September generally will be in the mid-70s to low-80s. Evenings can get much cooler though, dipping down into the 40s and 50s. There will be a cozy outdoor fireplace at the venue to help keep you warm, but we suggest having some layers handy and be sure to check the weather before you arrive!</p>
            <br />
            <p>Q: <strong>Will the altitude affect me?</strong></p>
            <p>A: The venue is ~7,300 ft above sea level. If you're not used to high altitude (and even if you are!) drink lots of water. You may feel a little out of breath but we still hope to see you on the dance floor!</p>
        </div>
    </div>
    <div class="section section--story" id="story">
        <div class="section__content">
            <h2>Our Story</h2>
            <p>It all started with a swipe...</p>
            <p>Kevin and Melissa met on the dating app Tinder in 2015. Melissa maintains that Kevin's Corgi Link was the deciding factor that caused her to swipe right.</p>
            <p>Their first date was at Corner Social in Harlem, NYC (Melissa was early, Kevin was late). They immediately found many things to talk about, from their mutual love for the arts (musicals) to their favorite Rom-Coms (The Holiday). And date #2 was set in no time.</p>
            <p>It was during Date #2 that Kevin was introduced to Melissa's love for food, and more specifically: Hatch green chile. Dates 3 and beyond all opened up the many things they had in and also illuminated each's own special interests like Mel's love of film scores and Kevin's love of retro video games.</p>
            <p>After over 3 years of dating, Melissa moved in with Kevin and Link into a small but cozy apartment in Astoria, where they currently live. Their time there has been filled with lots of trips to Martha's Country Bakery and Mighty Oak Coffee, plus lots of the other great eateries and small businesses in the area.</p>
            <p>One weekend, while Melissa was out of town at a Bachelorette party, Kevin secretly flew to Colorado to ask for her family's blessing to propose to Melissa. Everyone enthusiastically said yes and Kevin was headed back to NYC, all in 24 hours.</p>
            <p>Once a ring had been procured, Kevin invited Melissa's family and his parents to witness the proposal. He told Melissa they were going to do one of their favorite date-night activities (BBQ & Broadway) and would be taking her to see Tootsie the Musical. That day they rode the train into work together as normal, but after Melissa got off at her stop, Kevin turned around and headed back to Astoria where he got the final touches of the proposal ready! He picked up Melissa after work at Lincoln Center, and they stopped at the fountain in the main plaza, one of Melissa's favorite spots in all of New York. It was there that he got down on one knee and proposed, much to Melissa's surprise! The surprises continued as their families appeared out of nowhere and then Melissa's brother and sister-in-law surprised them for dinner. It was a night to remember!</p>
            <p>In the time of their relationship, Kevin and Melissa have travelled to various states and countries, doing everything from scuba diving in the warm waters of Hawaii to snorkeling between two tectonic plates in below-freezing water in Iceland! They love adventuring and exploring new cultures and especially new foods.</p>
            <p>They're excited to continue exploring things big and small together, and have most recently been honing their skills at spoiling their new nieces (Masyn and Drew) and nephew (Meander).</p>
        </div>
    </div>
    <div class="section section--party" id="party">
        <div class="section__content">
            <h2>The Wedding Party</h2>
            <div class="party party--left">
                <img src="img/party/elizabeth.jpg" />
                <div class="party__text">
                    <h3>Elizabeth</h3>
                    <h4>Matron of Honor</h4>
                    <p>Elizabeth and Melissa met their Freshman year at the University of Denver and instantly bonded over their love of Harry Potter, travel, music, and, most importantly, Nutella. They've been friends for over 14 years (!!) and have had too many adventures to count. She's one of the most creative and genuine people Melissa has ever met.</p>
                    <p>Fun fact: Elizabeth and Melissa spent a semester abroad in Milan, Italy, and every Friday morning would go to a cafe on their street and get chocolate filled croissants and cappuccino. They became known as "Le sorelle" (the Sisters) to the staff there!</p>
                </div>
            </div>
            <div class="party party--right">
                <img src="img/party/lauren.jpg" />
                <div class="party__text">
                    <h3>Lauren</h3>
                    <h4>Maid of Honor</h4>
                    <p>Lauren and Melissa have been inseparable since they first met in Graduate school at NYU! They've seen countless shows together (some good, some not so good), survived two New York apartments, and travelled around Europe. Lauren makes sure Melissa has seen the best TV shows and movies from the 90's and always keeps Melissa's sweet tooth satisfied with her amazing baked goods!</p>
                    <p>Fun fact: Lauren and Melissa can sing the entire West Wing theme song. Yes, the instrumental one. And it's beautiful.</p>
                </div>
            </div>
            <div class="party party--left">
                <img src="img/party/bridget.jpg" />
                <div class="party__text">
                    <h3>Bridget</h3>
                    <h4>Bridesmaid</h4>
                    <p>Bridget and Melissa met in NYC almost ten years ago and she is Melissa's most texted friend probably ever. From dishing on their favorite reality TV shows to getting advice about something going on in life, Melissa texts Bridget for just about everything. She makes Melissa laugh harder than anyone else and also speaks faster than anyone else!</p>
                    <p>Fun fact: Bridget and Melissa entered the lottery for Hamilton on Broadway a buuuuunch (like seriously, a bunch) of times and Bridget won and took Melissa with her to the show! They were front row smiling ear-to-ear the entire time and now have this bragging right for life!</p>
                </div>
            </div>
            <div class="party party--right">
                <img src="img/party/zac.jpg" />
                <div class="party__text">
                    <h3>Zac</h3>
                    <h4>Bridesman</h4>
                    <p>Zac was one of Melissa's very first friends in New York! They worked together in the Special Events office at NYU and would leave each other sticky notes and candy between shifts. They've since seen each other go through lots of life changes and special moments!</p>
                    <p>Fun fact: Zac has a freakishly great memory. He often reminds and corrects Melissa of dates, and will also tell her what they were both wearing and/or doing on that specific day.</p>
                </div>
            </div>
            <div class="party party--left">
                <img src="img/party/kathleen.jpg" />
                <div class="party__text">
                    <h3>Kathleen</h3>
                    <h4>Bridesmaid</h4>
                    <p>Kathleen is a ball of energy who brings the life to any party. Or class. Or dinner... Pretty much anywhere! Kathleen is one of the friends who you go out with for a quick drink and five hours later you're still talking! Kathleen and Melissa met in Grad school at NYU and now both live in Astoria where they've found many a wine bar at which to have hours-long chats!</p>
                    <p>Fun fact: One of their favorite and longest traditions is watching The Bachelor/Bachelorette together! It always involves eating massive amounts of food.</p>
                </div>
            </div>
            <div class="party party--right">
                <img src="img/party/kristin.jpg" />
                <div class="party__text">
                    <h3>Kristin</h3>
                    <h4>Bridesmaid</h4>
                    <p>It's important for everyone to know that Melissa was friends with her sister-in-law Kristin BEFORE her brother. So take that, Chris! Kristin and Melissa met in, where else, band at Douglas County High School! She's always been a great person to go to for advice and is adventurous and cares so much about family.</p>
                    <p>Fun fact: Kristin and Melissa went to a haunted corn maze once where they encountered a man with a chainsaw. Neither their fight nor flight responses kicked in and they clung to each other and curled up on the ground until someone on the staff came and told chainsaw man to leave them alone. He is not invited to the wedding.</p>
                </div>
            </div>
            <hr />
            <div class="party party--left">
                <img src="img/party/sarah.jpg" />
                <div class="party__text">
                    <h3>Sarah</h3>
                    <h4>Best Woman</h4>
                    <p>Sarah is Kevin's baby sister and they have known each other for Sarah's entire life. She is a constant source of cool music that all the kids are listening to nowadays and likes to live vicariously through Kevin and the NYC food scene.</p>
                    <p>Fun fact: Pranks played on young Sarah include, but are not limited to: telling her constantly that she was adopted and convincing her that deer are hatched out of hay bales.</p>
                </div>
            </div>
            <div class="party party--right">
                <img src="img/party/jonny.jpg" />
                <div class="party__text">
                    <h3>Jonny</h3>
                    <h4>Groomsman</h4>
                    <p>Jonny and Kevin met in college at Shenandoah Unversity and bonded over all things musical theatre. He is an extraordinary pianist and is also mostly responsible for getting Kevin hooked on the Fast & the Furious films, teaching Kevin to live his life a quarter mile at a time.</p>
                    <p>Fun fact: Jonny and Kevin are terrible at texting one another, one time leading to Kevin waiting for Jonny all night on a stoop with a 6-pack of Sam Adams Summer Ale.</p>
                </div>
            </div>
            <div class="party party--left">
                <img src="img/party/nick.jpg" />
                <div class="party__text">
                    <h3>Nick</h3>
                    <h4>Groomsman</h4>
                    <p>Nick and Kevin are friends from college (SU) and beyond and 100% of the scary movies they have seen together have been against Kevin's will. Except for The Mummy. Kevin has never met a bigger fan of The Mummy.</p>
                    <p>Fun fact: Kevin has learned about most of the best music ever made from Nick and his thorough Spotify playlists. Phil Collins: check. Linda Ronstadt: check. Doobie Brothers: double check.</p>
                </div>
            </div>
            <div class="party party--right">
                <img src="img/party/jeremy.jpg" />
                <div class="party__text">
                    <h3>Jeremy</h3>
                    <h4>Groomsman</h4>
                    <p>Jeremy is Kevin's best friend from SU, surviving being RAs, fraternity brothers, and roommates. He is a talented musician and fan of all things Leonard Bernstein.</p>
                    <p>Fun fact: One time Jeremy and Kevin drove to DC to see an opera. Halfway there, Kevin pulled the tickets out of his pocket and jokingly exclaimed, "These tickets are for <i>last</i> night!" But they actually <i>were</i> for last night. They turned around and went home very disappointed.</p>
                </div>
            </div>
            <div class="party party--left">
                <img src="img/party/nolan.jpg" />
                <div class="party__text">
                    <h3>Nolan</h3>
                    <h4>Groomsman</h4>
                    <p>Nolan and Kevin met through their significant others and soon their bromance grew legs of its own. They enjoy bonding over board games and nerd rap.</p>
                    <p>Fun fact: Nolan and Kevin have been working on the same app for at least 3 years now, but like true art, will it ever <i>really</i> be finished? Hopefully yes.</p>
                </div>
            </div>
            <div class="party party--right">
                <img src="img/party/chris.jpg" />
                <div class="party__text">
                    <h3>Chris</h3>
                    <h4>Groomsman</h4>
                    <p>Kevin is excited to be gaining a very capable brother-in-law. He has a brain full of historical events and a heart full of nerd culture.</p>
                    <p>Fun fact: Chris and his wife (and fellow bridesmaid) Kristin were instrumental in helping Kevin be a sneaky sneak when he flew to Colorado and back in 24 hours to get the Muscato Family's blessing for Kevin to ask Melissa to marry him.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--things-to-do" id="things-to-do">
        <div class="section__content">
            <h2>Things To Do</h2>
            <p>Explore Downtown Denver</p>
            <ul>
                <li>Denver is a <a href="https://www.denver.org/things-to-do/" target="_blank">vibrant and wonderful city</a> with lots to explore!</li>
                <li>Couple's Rec: Take a walk down <a href="https://www.larimersquare.com/" target="_blank">Larimer Square</a></li>
            </ul>
            <p>Go to the Mountains</p>
            <ul>
                <li>You can't visit Colorado without taking some time to explore the Rocky Mountains!</li>
                <li>Couple's Rec: Kev and Mel's favorite mountain town is <a href="https://gobreck.com/" target="_blank">Breckenridge</a>. Stop by Cool River for a coffee and go see <a href="https://gobreck.com/experience-breckenridge/arts-and-culture/how-to-find-the-breckenridge-troll/" target="_blank">Isak the Troll!</a></li>
            </ul>
            <p>Brewery Tour</p>
            <ul>
                <li>Did you know some of your favorite beers may have come from Colorado?! Colorado has a <a href="https://www.denver.org/things-to-do/denver-attractions/denver-brewery-tours/" target="_blank">huge brewery scene</a>, with everywhere from the biggest brewery in the world, Coors, to great small microbrew houses. Cheers!</li>
                <li>Couple's Rec: <a href="https://www.newbelgium.com/brewery/fort-collins/all-tours/" target="_blank">New Belgium Brewery</a></li>
            </ul>
            <p>Go hiking</p>
            <ul>
                <li>There are countless places you can go hiking in Colorado. <a href="https://www.visitestespark.com/" target="_blank">Estes Park</a> and <a href="https://www.nps.gov/romo/index.htm" target="_blank">Rocky Mountain National Park</a> are two great places to get a true taste of Colorado, plus they're just a short day trip from Downtown Denver!</li>
                <li>Couples Rec: <a href="https://dayhikesneardenver.com/mohawk-lakes-hike-breckenridge-colorado/" target="_blank">Mohawk Lake</a>, Breckenridge</li>
            </ul>
            <p>Catch a sporting event</p>
            <ul>
                <li>Need a sports fix? Check out some of the <a href="https://www.denver.org/things-to-do/sports-recreation/pro-sports/" target="_blank">pro sports games</a> you can attend!</li>
                <li>Couple's Rec: An evening baseball game at <a href="https://www.mlb.com/rockies/ballpark" target="_blank">Coors Field!</a></li>
            </ul>
            <p>Get some culture in</p>
            <ul>
                <li>Concerts, museums, art galleries...Denver has it all! Enjoy the <a href="https://www.denver.org/things-to-do/denver-arts-culture/" target="_blank">lively arts scene</a> in the Denver area</li>
                <li>Couple's Rec: Anything showing at <a href="https://www.denvercenter.org/" target="_blank">Denver Center for the Performing Arts</a></li>
            </ul>
        </div>
    </div>
    <div class="section section--registry" id="registry">
        <div class="section__content">
            <h2>The Registry</h2>
            <a class="zola-registry-embed" href="https://www.zola.com/registry/kevinandmelissaswedding" data-registry-key="kevinandmelissaswedding" data-max-items="6">Our Zola Wedding Registry</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
        </div>
    </div>
    <div class="section section--contact" id="contact">
        <div class="section__content">
            <h2>Contact</h2>
            <p>Feel free to send an email with questions to:</p>
            <p>
                <a href="mailto:kevinandmelissaswedding@gmail.com" target="_blank">kevinandmelissaswedding@gmail.com</a>
            </p>
        </div>
    </div>
    <div class="statement">
        <h2>At this wedding:</h2>
        <ul>
            <li>All will be welcome</li>
            <li>All will be respected</li>
            <li>All will be included</li>
        </ul>
        <p>We believe that love is love, Black Lives Matter, science is real, and all humans deserve love and respect.</p>
    </div>
    <div class="footer">
        <p>Kevin ♥ Melissa</p>
        <p>Kevin + Melissa ♥ Link</p>
        <div class="link">
            <i>❤️</i>
            <i>❤️</i>
            <i>❤️</i>
        </div>
    </div>
    <script src="./app.js?t=<%= htmlWebpackPlugin.options.cachebuster %>"></script>
</body>
</html>
